# Basic Spreadsheet Interaction

In [1]:
import numpy as np
import pandas as pd
import xlrd, xlwt
import xlsxwriter
path = 'C:/Users/Taymour/Python For Finance/'

In [2]:
wb = xlwt.Workbook()

In [3]:
wb

In [4]:
wb.add_sheet('first_sheet', cell_overwrite_ok=True)

In [5]:
wb.get_active_sheet()

0

In [6]:
ws_1 = wb.get_sheet(0)
ws_1

In [7]:
ws_2 = wb.add_sheet('second_sheet')

In [8]:
data = np.arange(1, 65).reshape((8, 8))

In [9]:
data

array([[ 1,  2,  3,  4,  5,  6,  7,  8],
       [ 9, 10, 11, 12, 13, 14, 15, 16],
       [17, 18, 19, 20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29, 30, 31, 32],
       [33, 34, 35, 36, 37, 38, 39, 40],
       [41, 42, 43, 44, 45, 46, 47, 48],
       [49, 50, 51, 52, 53, 54, 55, 56],
       [57, 58, 59, 60, 61, 62, 63, 64]])

In [10]:
ws_1.write(0, 0, 100) # write 100 in cell "A1"

In [11]:
for c in range(data.shape[0]):
    for r in range(data.shape[1]):
        ws_1.write(r, c, data[c, r])
        ws_2.write(r, c, data[r, c])

In [12]:
wb.save(path + 'workbook.xls')

## GENERATING WORKBOOKS (.XSLX)

In [13]:
wb = xlsxwriter.Workbook(path + 'workbook.xlsx')

In [14]:
ws_1 = wb.add_worksheet('first_sheet')
ws_2 = wb.add_worksheet('second_sheet')

In [15]:
for c in range(data.shape[0]):
    for r in range(data.shape[1]):
        ws_1.write(r, c, data[c, r])
        ws_2.write(r, c, data[r, c])

In [16]:
wb.close()

In [17]:
wb = xlsxwriter.Workbook(path + 'chart.xlsx')
ws = wb.add_worksheet()

# write cumsum of random values in first column
values = np.random.standard_normal(15).cumsum()
ws.write_column('A1', values)

# create a new chart object
chart = wb.add_chart({'type': 'line'})

# add a series to the chart
chart.add_series({'values': '=Sheet1!$A$1:$A$15',
                  'marker': {'type': 'diamond'},})
# series with markers (here: diamond)

# insert the chart
ws.insert_chart('C1', chart)

wb.close()

## READING FROM WORKBOOKS

In [18]:
book = xlrd.open_workbook(path + 'workbook.xlsx')
book

In [19]:
book.sheet_names()

[u'first_sheet', u'second_sheet']

In [20]:
sheet_1 = book.sheet_by_name('first_sheet')
sheet_2 = book.sheet_by_index(1)
sheet_1

In [21]:
sheet_2.name

u'second_sheet'

In [22]:
sheet_1.ncols, sheet_1.nrows

(8, 8)

In [26]:
cl = sheet_1.cell(0, 0)
cl.value

1.0

In [28]:
cl.ctype

2

In [29]:
sheet_2.row(3)

[number:25.0,
 number:26.0,
 number:27.0,
 number:28.0,
 number:29.0,
 number:30.0,
 number:31.0,
 number:32.0]

In [30]:
sheet_2.col(3)

[number:4.0,
 number:12.0,
 number:20.0,
 number:28.0,
 number:36.0,
 number:44.0,
 number:52.0,
 number:60.0]

In [31]:
sheet_1.col_values(3, start_rowx=3, end_rowx=7)

[28.0, 29.0, 30.0, 31.0]

In [32]:
sheet_1.row_values(3, start_colx=3, end_colx=7)

[28.0, 36.0, 44.0, 52.0]

In [33]:
for c in range(sheet_1.ncols):
    for r in range(sheet_1.nrows):
        print '%i' % sheet_1.cell(r, c).value,
    print

1 2 3 4 5 6 7 8
9 10 11 12 13 14 15 16
17 18 19 20 21 22 23 24
25 26 27 28 29 30 31 32
33 34 35 36 37 38 39 40
41 42 43 44 45 46 47 48
49 50 51 52 53 54 55 56
57 58 59 60 61 62 63 64

## USING OPENPYXL

In [38]:
import openpyxl as oxl

In [39]:
wb = oxl.Workbook()

In [40]:
ws = wb.create_sheet(index=0, title='oxl_sheet')

In [47]:
wb = oxl.load_workbook(path + 'workbook.xlsx')

In [48]:
ws = wb.get_active_sheet()

C:\ProgramData\Anaconda3\envs\py27\lib\site-packages\ipykernel\__main__.py:1: DeprecationWarning: Call to deprecated function get_active_sheet (Use the .active property).
  if __name__ == '__main__':

In [49]:
cell = ws['B4']

In [50]:
cell.column

'B'

In [51]:
cell.row

4

In [52]:
cell.value

12L

In [53]:
ws['B1':'B4']

((<Cell u'first_sheet'.B1>,),
 (<Cell u'first_sheet'.B2>,),
 (<Cell u'first_sheet'.B3>,),
 (<Cell u'first_sheet'.B4>,))

In [54]:
for cell in ws['B1':'B4']:
    print cell[0].value

9
10
11
12

## USING PANDAS FOR READING AND WRITING

In [59]:
df_1 = pd.read_excel(path + 'workbook.xlsx',
                     'first_sheet', header=None)
df_2 = pd.read_excel(path + 'workbook.xlsx',
                     'second_sheet', header=None)

In [60]:
import string
columns = []
for c in range(data.shape[0]):
    columns.append(string.uppercase[c])
columns

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

In [61]:
df_1.columns = columns
df_2.columns = columns

In [62]:
df_1

   A   B   C   D   E   F   G   H
0  1   9  17  25  33  41  49  57
1  2  10  18  26  34  42  50  58
2  3  11  19  27  35  43  51  59
3  4  12  20  28  36  44  52  60
4  5  13  21  29  37  45  53  61
5  6  14  22  30  38  46  54  62
6  7  15  23  31  39  47  55  63
7  8  16  24  32  40  48  56  64

In [63]:
df_2

    A   B   C   D   E   F   G   H
0   1   2   3   4   5   6   7   8
1   9  10  11  12  13  14  15  16
2  17  18  19  20  21  22  23  24
3  25  26  27  28  29  30  31  32
4  33  34  35  36  37  38  39  40
5  41  42  43  44  45  46  47  48
6  49  50  51  52  53  54  55  56
7  57  58  59  60  61  62  63  64

# Scripting Excel with Python Using DataNitro Add-ins

In [ ]:
#
# Plotting with DataNitro in Excel
# dn_plotting.py
#
import pandas.io.data as web
import nitroplot as nplt
  # wrapper for matplotlib.pyplot (plt)

# make a new workbook

wb = new_wkbk()
active_wkbk(wb)
rename_sheet("Sheet1", "Apple_Stock")

# read Apple Inc. stock data

aapl = web.DataReader('aapl', data_source='yahoo')[['Open', 'Close']]

# write the data to the new workbook

Cell("A1").df = aapl

# generate matplotlib plot

nplt.figure(figsize=(8, 4))
nplt.plot(Cell("A2").vertical, Cell("C2").vertical, label='AAPL')
nplt.legend(loc=0)
nplt.grid(True)
nplt.xticks(rotation=35)

# expose plot to Excel spreadsheet

nplt.graph()
  # as plt.show()

# save the new workbook with data and plot

save('dn_plot.xlsx')